<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oregonstate.snooze.dao.UserScheduleMapper">
  <resultMap id="BaseResultMap" type="com.oregonstate.snooze.model.UserSchedule">
    <id column="scheduleId" jdbcType="INTEGER" property="scheduleId" />
    <id column="userId" jdbcType="INTEGER" property="userId" />
    <result column="scheduleDes" jdbcType="VARCHAR" property="scheduleDes" javaType="java.util.Map" />
    <result column="hours" jdbcType="VARCHAR" property="hours" />
  </resultMap>
  <sql id="Base_Column_List">
    scheduleId, userId, scheduleDes, hours
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.oregonstate.snooze.model.UserScheduleKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from schedule_u
    where scheduleId = #{scheduleId,jdbcType=INTEGER}
      and userId = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.oregonstate.snooze.model.UserScheduleKey">
    delete from schedule_u
    where scheduleId = #{scheduleId,jdbcType=INTEGER}
      and userId = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oregonstate.snooze.model.UserSchedule">
    insert into schedule_u (scheduleId, userId, scheduleDes,
      hours)
    values (#{scheduleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{scheduleDes,jdbcType=VARCHAR},
      #{hours,jdbcType=VARCHAR})
      ON DUPLICATE KEY UPDATE
			 scheduleDes = VALUES(scheduleDes),
			 hours = VALUES(hours)
  </insert>
  <insert id="insertSelective" parameterType="com.oregonstate.snooze.model.UserSchedule">
    insert into schedule_u
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scheduleId != null">
        scheduleId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="scheduleDes != null">
        scheduleDes,
      </if>
      <if test="hours != null">
        hours,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scheduleId != null">
        #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="scheduleDes != null">
        #{scheduleDes,jdbcType=VARCHAR},
      </if>
      <if test="hours != null">
        #{hours,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oregonstate.snooze.model.UserSchedule">
    update schedule_u
    <set>
      <if test="scheduleDes != null">
        scheduleDes = #{scheduleDes,jdbcType=VARCHAR},
      </if>
      <if test="hours != null">
        hours = #{hours,jdbcType=VARCHAR},
      </if>
    </set>
    where scheduleId = #{scheduleId,jdbcType=INTEGER}
      and userId = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oregonstate.snooze.model.UserSchedule">
    update schedule_u
    set scheduleDes = #{scheduleDes,jdbcType=VARCHAR},
      hours = #{hours,jdbcType=VARCHAR}
    where scheduleId = #{scheduleId,jdbcType=INTEGER}
      and userId = #{userId,jdbcType=INTEGER}
  </update>
</mapper>