<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <!--<link rel="stylesheet" href="bootstrap/css/bootstrap.css">-->
    <title>LogIn_page</title>
</head>


<body ng-app="myApp">

<!--<header>-->
    <!--&lt;!&ndash;  &ndash;&gt;-->
    <!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
        <!--<a class="navbar-brand" href=" ">SNOOZE</a>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"-->
                <!--aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <!--<div class="collapse navbar-collapse" id="navbarCollapse">-->
            <!--<ul class="navbar-nav mr-auto">-->
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Link</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; <form class="form-inline mt-2 mt-md-0">-->
              <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
              <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form> &ndash;&gt;-->

            <!--<span>-->
          <!--<li class="nav-item dropdown" navbar-light>-->
            <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
               <!--aria-haspopup="true" aria-expanded="false">-->
              <!--Options-->
            <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown" class="text-center">-->
              <!--<a class="dropdown-item" href="#">LogIn</a>-->
              <!--<a class="dropdown-item" href="#">Register</a>-->
              <!--<div class="dropdown-divider"></div>-->
              <!--<a class="dropdown-item" href="#">Logout</a>-->
          <!--</div>-->
          <!--</li>-->
        <!--</span>-->
        <!--</div>-->
    <!--</nav>-->
<!--</header>-->

<br/>
<!--  <br/><br/><br/><br/> -->


<!--   login form -->
<form class="form-signin text-center" ng-submit="submitForm()" ng-controller="loginController">

    <!--    snooze logo picture -->
    <div class="text-center mb-2">

        <img src="imgs/snoozelogo.jpeg" alt="" width="300" height="250">

    </div>

    <!-- email form -->
    <div class="form-label-group text-center main">
        <input id="email" name="email" type="text" placeholder="Email Address" value="" required autofocus
               ng-model="user.email" style="width: 40%">
    </div>

    <!-- <div class="col-md-6 col-md-offset-3">
    <input type="email" id="inputEmail" class="form-control " placeholder="Email address" required autofocus ng-model="user.email" > -->
    <!-- <label for="inputEmail">Email address</label > -->


    <br>

    <!-- <div class="form-element-wrapper"> -->
    <!-- <div class="text-center mb-2"style="display: flex; justify-content: center;" > -->
    <!-- password form -->
    <div class="form-label-group text-center main">

        <input id="password" name="password" type="text" placeholder="Password" required autofocus
               ng-model="user.password" value="" style="width: 40%">

    </div>

    <br>
    <!--remember me choosing -->
    <div class="checkbox mb-3">

        <input type="checkbox" value="remember-me"> Remember me

    </div>

    <!--log in button -->
    <!--<div class="col-md-6 col-md-offset-3" style="display: flex;-->
    <!--justify-content: center;">-->

    <!--<button class="btn btn-lg btn-primary btn-block" "sc-gisBJw blYhWW sc-fMiknA jCrtVn" align-items=""center type="submit" style="width: 40%">Log-->
    <!--In-->
    <!--</button>-->
    <!--</div>-->

    <button class="btn btn-lg btn-primary"  id="login-submit" spacing="default" type="submit">
        <span style="align-self: center; display: inline-flex; flex-wrap: nowrap; max-width: 100%; position: relative; width: 150%; justify-content: center;">
            <span style="align-items: center; align-self: center; flex: 1 1 auto; margin: 0px 4px; max-width: 150%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
                  transition: opacity 0.3s ease 0s; opacity: 1;">
                <span>Sign In</span>
                </span>
        </span>
    </button>


    <br>
    <br/>

    <!-- a link for sign up page -->
    <ul class="list-help">
        <a href="file:///Users/ellenchen/Desktop/boots/reg.html">Do not have account?</a>
    </ul>

    <!--  <label for="CreateUser">Do not have account? </label > -->

    <!--  sign up button -->
    <!--  <div class="col-md-6 col-md-offset-3">
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

         </div> -->
    <br>
    <br/>
    <div class="mt-5 mb-3 text-muted text-center">
        <p ng-click="show()">&copy; 2017-2018</p>
    </div>

</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="jquery/jquery-3.2.1.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>